@import 'src/styles/_colors';

.content {
  padding: 0.5rem;
  border: 1px solid white;
  border-top: 0;
}

.header {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}
.label {
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}

.label-input {
  width: 90%;
  padding: 0.5rem;
}

.total {
  text-align: right;
  padding-right: 0.5rem;
}
