@import 'src/styles/_colors';

.container {
  padding: 5px;
}

.block {
  padding: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  flex-wrap: wrap;
}

.section-header {
  display: flex;
  column-gap: 0.2rem;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 80px;
  > * {
    border-right: 1px solid $white;
  }
  border-bottom: 1px solid $white;
}

.saving-throw {
  border-right: none;
}

.description,
.source {
  grid-column-start: span 2;
  border-top: 1px solid $white;
  border-right: none;
}
