$black: #000;
$white: #eee;

$primary: #150050;
$secondary: #3f0071;
$tertiary: #fb2576;

$bg: $primary;
$text: $white;

$light-gray: #b2b2b2;
$dark-gray: #575757;

$green: #2bb52b;
$light-green: #74d074;
$red: red;
$orange: #f9ac1d;

$blue: #02398e;