@import 'src/styles/_colors.scss';

:export {
  black: $black;
  white: $white;
  primary: $primary;
  secondary: $secondary;
  tertiary: $tertiary;
  bg: $bg;
  text: $text;
  lightGray: $light-gray;
  darkGray: $dark-gray;
  green: $green;
  red: $red;
  blue: $blue;
  orange: $orange;
}