@import 'styles/_colors';

.container {
  display: flex;
  flex-direction: column;

  grid-area: skills;
}

.skills {
  display: flex;
  flex-direction: column;
}

.passive-label {
  text-decoration: none;
}
