@import 'src/styles/_colors';

.container {
  display: flex;
  flex-direction: column;

  grid-area: skills;
}

.header {
  display: flex;
  justify-content: space-between;
}

.skills {
  display: flex;
  flex-direction: column;
}

.passive-label {
  text-decoration: none;
}
