@import 'styles/_colors';

.container {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $tertiary;
  }

  &.disabled {
    color: $light-gray;
    cursor: not-allowed;

    &:hover {
      color: $light-gray;
    }
  }
}
