@import "src/styles/_colors";

.content {
  .buttons {
    display: flex;
    column-gap: 0.5rem;
  }

  .button {
    border: 0;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;

    &.selected {
      background-color: $tertiary;
      color: $white;
      font-weight: bold;
    }

    &.other-selected {
      background-color: $dark-gray;
      color: $white;
    }

    &.used {
      background-color: $dark-gray;
      color: $white;
    }

    cursor: pointer;
  }
}

.stats {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.stat {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  .label {
    text-decoration: underline;
  }
}