@import 'src/styles/_colors';

$border-width: 5px;

.grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: min-content;
  grid-auto-flow: column;
  grid-template-areas:
    'metadata combat-stats death-saves hit-dice chat'
    'stats skills attacks attacks chat'
    'inventory money other-prof tools chat'
    'dice - - - chat';
  > * {
    background-color: $primary;
    border: calc($border-width / 2) solid white;
  }
  border: calc($border-width / 2) solid $white;
}
