@import 'src/styles/_colors';

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  overflow: auto;
  row-gap: 1rem;
}

.header {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  row-gap: 0.5rem;
  align-self: center;
  text-transform: capitalize;

  @media screen and (max-width: 900px) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  @media screen and (max-width: 600px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.link {
  padding: 0.5rem;
  border-radius: 5px;
  color: $white;
  border: 1px solid $tertiary;
  min-width: 6rem;
  text-align: center;
  position: relative;

  &.selected {
    background-color: $tertiary;
    color: $white;
    text-decoration: underline;
  }

  &.warning {
    background-color: $orange;
  }
}

.validation {
  position: absolute;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  right: -5px;
  top: -5px;
  background-color: $orange;
  color: $white;

  &.good {
    background-color: $green;
  }

  &.warning {
    background-color: $green;
    border: 2px solid $orange;
  }
}

.content {
  flex: 1;
  overflow: auto;
  padding-bottom: 2rem;
}

.footer {
  display: flex;
  border-top: 1px solid $white;
  padding: 1rem;

  justify-content: space-between;
}

.stat-display {
  display: flex;
  column-gap: 5px;
  align-items: flex-start;

  @media screen and (max-width: 600px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .stat {
    border: 1px solid $white;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .label {
      text-align: center;
    }

    .value {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
      font-size: 2rem;
      text-align: center;
    }
  }
}

.help-required-text {
  margin-left: 0.5rem;
}